@import 'tailwindcss';

@theme {
	--font-sans: 'Gilroy';
	--color-*: initial;
	--color-primary: #ecf96e;
	--color-black-700: #323433;
	--color-black-800: #070707;
	--color-neutral-50: #f6f6f6;
	--color-gray-100: #b9b9b9;
	--color-gray-200: #898989;
	--color-white: #ffffff;
}
